@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Oswald, sans-serif;
}

.house{
    width: 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
    background-image: url(image/table.avif);
    background-position: center;
    background-size: cover;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    
}
/*navigation links heading and logo*/
.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
.logo {
    width: 20rem;
    cursor: pointer;
}
.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 255);
    font-size: 23px;
}
/*heading*/
.row {
    display: flex;
    height: 88%;
    align-items: center;
    }
    .col{
        flex-basis: 50%;
    }
    h1{
        color: rgb(205, 31, 191);
        font-size: 100px;
    }
    p{
        color: blueviolet;
        font-size: 20px;
        line-height: 15px;
        text-align: center;
    
    }
    button {
        padding: 20px 0;
        font-size: 40px;
        width: 200px;
        color:blue;
        border: 2px solid rgb(205, 31, 191);
        border-radius: 20%;
        outline: none;
        margin-top: 20px;
        margin-left: 14rem;

    }
    /*for the picture menus*/
    .files{
        width: 200px;
        height: 230px;
        display: inline-block;
        border-radius: 10px;
        padding: 15px 25px;
        box-sizing: border-box;
        cursor: pointer;
        margin: 10px 15px;
        background-position: center;
        background-size: cover;
        font-size: 30px;
        transition: transform 0.5s;
        
    }
    .one{
        background-image: url(image/room3.jpeg);
    }

    .two{
        background-image: url(image/food3.jpeg);
    }
    .three{
        background-image: url(image/bar.jpeg);
    }
    .four{
        background-image: url(image/gym3.jpeg);
    }
    .files :hover {
        transform: translateY(-10px);
        
    }
    /*footer*/
.down {
    width: 100%;
    height: 10%;
    position: relative;
    border: 4px solid pink;
    display: flex;
    align-items: center;
}

.social-icon {
    width: 99%;
    height: 100%;
    text-align: left;
    

}
footer > span {
    font-size: 20px;
    color: rgb(58, 8, 238);
    text-align: center;
}

footer > a {
    color: rgb(58, 8, 238);
    text-decoration: none;
    padding: 0 25px;
    font-size: 3rem;
    text-align: left;
}

footer > p {
    color: rgb(58, 8, 238);
    font-size: 20px;
    text-align: left;
}
